{
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SERVER;Database=DnDTracker;User Id=DnDTrackerApp;Password=YOUR_STRONG_PASSWORD;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "AllowedHosts": "www.alanstirling.com;alanstirling.com"
}
