@page "/"
@attribute [AllowAnonymous]

<PageTitle>D&D Tracker</PageTitle>

<h1>D&D Tracker</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome back, @context.User.Identity?.Name.</p>
        <p>You are logged in and ready to track campaigns.</p>
    </Authorized>
    <NotAuthorized>
        <p>Please <a href="Account/Login">log in</a> or <a href="Account/Register">register</a> to use D&D Tracker.</p>
    </NotAuthorized>
</AuthorizeView>
